.example-form {
    padding-left: 40px;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 20px;
  }

  .form-label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    padding-left: 40px;
    width: 100%;
  }
  .example-button-row {
    display: table-cell;
    width: 600px;
  }